style css-static
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    text-align: center;
    padding: 30px;
    background: #340d0d;
    color: white;
}
.avatar {
    width: 170px;
    border-radius: 80%;
}

.profile {
    width: 150px;      /* Atur sesuai kebutuhan */
    height: auto;
    border-radius: 50%;
    object-fit: cover; /* Biar gak gepeng */
}
